<div class="nav">
  <a
    class="inicio"
    routerLink="/inicio"
    routerLinkActive="router-link-active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    Inicio
  </a>
  <button
    class="resumen"
    (click)="navigateToAhorroAnual()"
    routerLink="/inicio/ahorro-anual"
    routerLinkActive="router-link-active"
  >
    Resumen Anual
  </button>
  <h1 class="year">{{ yearLocalStore }}</h1>
  <p class="nombre-usuario">Usuario identificado: {{ nombreUser }}</p>
</div>
<a (click)="logout()" class="cerrar-sesion">Cerrar sesión</a>
<router-outlet></router-outlet>
