.nav {
  margin: 0 auto;
  background-color: var(--color-primary);
  height: 18vh;
  display: flex;
  align-items: center;
  color: var(--color-background);
  border-bottom: 6px solid #dce2f0;
}


button {
  background-color: transparent;
  color: white;
  border: none;
}

.inicio, .resumen {
  color: var(--color-background);
  text-decoration: none;
  transition: transform 0.4s;
  font-size: 20px;
}

.inicio:hover {
  transform: scale(1.2);
}

.resumen{
  margin-left: -100px;
}

.resumen:hover {
  transform: scale(1.2);
}

.router-link-active {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.router-link-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--color-background);
  transition: all 1s ease;
}

.router-link-active:hover::after {
  width: 0;
}


.year {
  font-size: 50px;
  margin-left: 377px;
}

.nombre-usuario {
  margin-top: 15px;
  font-size: 20px;
}

.cerrar-sesion {
  display: inline-block;
  width: 180px;
  height: 35px;
  margin-left: 78%;
  font-size: 20px;
  background-color: rgb(22, 45, 79, 0.9);
  color: var(--color-background);
  transition: background-color 0.5s;
  border-bottom-left-radius: 10px; /* Radio de borde de 5px en la esquina inferior izquierda */
  border-bottom-right-radius: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.cerrar-sesion:hover {
  background-color: var(--color-botons);
}
