<body>
  <section class="title-eslogan">
    <div class="eslogan">
      <h1>Controla tus gastos, maximiza tus sueños</h1>
    </div>

    <div class="description">
      <h3>
        <em
          >Nuestro software simplifica la gestión financiera personal con una
          interfaz intuitiva y herramientas potentes, brindando control total y
          facilidad de uso</em
        >
      </h3>
    </div>
  </section>

  <section class="form-img">
    <div class="container-app">
      <div class="login-form">
        <app-formulario-inicio></app-formulario-inicio>
      </div>

      <div class="img-diapositiva">
        <img src="/assets/images/estadisticas.jpg" alt="photo" />
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</body>

