<div>
  <h2>Total ahorro por mensualidad</h2>
</div>
<div>
  <table>
    <tr>
      <td>Enero</td>
      <td>300 €</td>
      <td>Estrella</td>
    </tr>
    <tr>
      <td>Febrero</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Marzo</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Abril</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Mayo</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Junio</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Julio</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Agosto</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Septiembre</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Octubre</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Noviembre</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Diciembre</td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <hr />
  <div>
       <p>Total ahorrado en year: €</p> 

  </div>
</div>
