<div class="div-table">
  <h2>RESUMEN ANUAL</h2>
</div>
<div class="div-table">
  <table class="resumen-table">
    <tr class="resumen-header">
      <td>AÑO</td>
      <td>TOTAL INGRESADO</td>
      <td>TOTAL GASTADO</td>
      <td>AHORRO</td>
      <td>OBJETIVO</td>
    </tr>
    <tr>
      <td>2024</td>
      <td>{{ totalIngreso2024 }} €</td>
      <td>{{ totalImporte2024 }} €</td>
      <td>{{ totalIngreso2024 - totalImporte2024 }} €</td>
      <td>Estrella</td>
    </tr>
    <tr>
      <td>2025</td>
      <td>{{ totalIngreso2025 }} €</td>
      <td>{{ totalImporte2025 }} €</td>
      <td>{{ totalIngreso2025 - totalImporte2025 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2026</td>
      <td>{{ totalImporte2026 }} €</td>
      <td>{{ totalIngreso2026 }} €</td>
      <td>{{ totalIngreso2026 - totalImporte2026 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2027</td>
      <td>{{ totalIngreso2027 }} €</td>
      <td>{{ totalImporte2027 }} €</td>
      <td>{{ totalIngreso2027 - totalImporte2027 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2028</td>
      <td>{{ totalIngreso2028 }} €</td>
      <td>{{ totalImporte2028 }} €</td>
      <td>{{ totalIngreso2028 - totalImporte2028 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2029</td>
      <td>{{ totalIngreso2029 }} €</td>
      <td>{{ totalImporte2029 }} €</td>
      <td>{{ totalIngreso2029 - totalImporte2029 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2030</td>
      <td>{{ totalIngreso2030 }} €</td>
      <td>{{ totalImporte2030 }} €</td>
      <td>{{ totalIngreso2030 - totalImporte2030 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2031</td>
      <td>{{ totalIngreso2031 }} €</td>
      <td>{{ totalImporte2031 }} €</td>
      <td>{{ totalIngreso2031 - totalImporte2031 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2032</td>
      <td>{{ totalIngreso2032 }} €</td>
      <td>{{ totalImporte2032 }} €</td>
      <td>{{ totalIngreso2032 - totalImporte2032 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2033</td>
      <td>{{ totalIngreso2033 }} €</td>
      <td>{{ totalImporte2033 }} €</td>
      <td>{{ totalIngreso2033 - totalImporte2033 }} €</td>
      <td></td>
    </tr>
    <tr>
      <td>2034</td>
      <td>{{ totalIngreso2034 }} €</td>
      <td>{{ totalImporte2034 }} €</td>
      <td>{{ totalIngreso2034 - totalImporte2034 }} €</td>
      <td></td>
    </tr>
  </table>
</div>
<app-footer></app-footer>
